body{
	margin: 0;
}
.header{
	background-color: #845ec2;
	height: 75px;
}
.header-logo{
	float: left;
	padding: 20px 30px;
	font-size: 30px;
}
.header-list ul{
	float:right;
}
.header-list ul li{
	float:left;
	padding: 13px 10px;
	list-style: none;
}
.main{
	background-color: floralwhite;
	height: auto;
}
.copy-container{
	font-size: 50px;
}
.section-title{
	font-style: italic;
	font-size: 25px;
}
.content-item a{
	text-decoration: none;
	color: black;
}
.content-item a:hover{
	color: darksalmon;
}
.content-item h1 a:hover{
	color: darkgoldenrod;
}
.footer{
	background-color: black;
	margin: auto;
}
.footer-logo{
	color: white;
	padding: 17px 15px;
}
form{
	background: ;
}