body{
	font-family: sans-serif;
	background: cyan;
	list-style: none;
}
 
h2{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
	color: palegoldenrod;
}
 
.kotak-login{
	width: 350px;
	background: darkcyan;
	/*meletakkan form ke tengah*/
	margin: 100px auto;
	padding: 30px 20px;
}
 
.text{
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	color: gold;
}
 
.box-form{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
	background: cyan;
}
 
.button{
        position: relative;
        background: cyan;
        text-decoration:none;
        border:1px solid darkred;
        display: block;
        padding: 10px 152px;
        padding-bottom: 10px;
      } 